
<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
</head>
<script src="https://cdn.tailwindcss.com"></script>
<body><br/><br/><br/>
    <div class="w-full p-6 m-auto bg-purple-200 rounded-md shadow-md lg:max-w-xl">
        <h1>
           CADASTRO DE PESSOAS
        </h1>
        <form   method="post" action="/pessoas/criar" class="mt-6">
            <div class="mb-2">
                <label id="nome" for="text" class="block text-sm font-semibold text-gray-800">Nome</label>
                <input id="nome" name="nome"  type="text" class="block w-full px-4 py-2 mt-2 text-purple-700 bg-white border rounded-md focus:border-purple-400 focus:ring-purple-300 focus:outline-none focus:ring focus:ring-opacity-40"/>
            </div>
            <div class="mb-2">
                <label id="sobrenome" for="text" class="block text-sm font-semibold text-gray-800"> Sobrenome</label>
                <input id="sobrenome" name="sobrenome" type="text" class="block w-full px-4 py-2 mt-2 text-purple-700 bg-white border rounded-md focus:border-purple-400 focus:ring-purple-300 focus:outline-none focus:ring focus:ring-opacity-40"/>

                <label id="altura" for="number" class="block text-sm font-semibold text-gray-800">Altura</label>
                <input id="altura" name="altura" type="text" class="block w-full px-4 py-2 mt-2 text-purple-700 bg-white border rounded-md focus:border-purple-400 focus:ring-purple-300 focus:outline-none focus:ring focus:ring-opacity-40"/>
                
                <label id="idade" for="number" class="block text-sm font-semibold text-gray-800">idade</label>
                <input id="idade" name="idade" type="text" class="block w-full px-4 py-2 mt-2 text-purple-700 bg-white border rounded-md focus:border-purple-400 focus:ring-purple-300 focus:outline-none focus:ring focus:ring-opacity-40"/>

            </div><br/>
           
            <div class="mt-2">
                <button type="submit" value="enviar" class="w-full px-2 py-2 tracking-wide text-white transition-colors duration-200 transform bg-purple-700 rounded-md hover:bg-purple-600 focus:outline-none focus:bg-purple-600" >Cadastrar</button>
            </div>
        </form>
    </div>
</body>
</html>